/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* FontAwesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  scroll-behavior: smooth;
}

/* Reset CSS */
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Default CSS */
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background-color: #fff;
}

.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_wa {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때 */
.ir_su {
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  text-indent: -9999px;
  position: absolute;
  left: 0;
  top: 0;
}

/* 스킵네비게이션 */
#skip {
  position: relative
}

#skip a {
  width: 200px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0;
  top: -100px;
  border: 1px solid #fff;
  background: #333;
}

#skip a:active,
#skip a:focus {
  top: 0
}

.section::after {
  content: '';
  display: block;
  clear: both;
}

#home {
  position: relative;
  height: 94vh;
}

#project,
#work,
#contact {
  height: auto;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  width: calc(100% - 40px);
  margin: auto;
  height: 60px;
  line-height: 60px;
}

.header__logo {
  float: left;
}

.header__logo h1 {
  margin: 0;
}

.header__logo img {
  padding-top: 17px;
}

.header__gnb {
  float: right;
}

.header__gnb__menu {
  display: none;
}

.header__trigger {
  display: none;
}


/* home */
.home {
  background-color: #fff;
  height: 100%;
}

.home:before {
  content: '';
  background-color: #000;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  animation: overlay 1s 2s ease-in-out both;
}

.home__text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 1.2em;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  animation: slideup 2s linear;
  animation-fill-mode: both;
}

.home__text1 span {
  display: block;
  font-size: 26px;
}

.home__text1 span .fa {
  color: crimson;
}

.home__image {
  background: url(../images/section-bg-01.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  opacity: 0;
  animation: opacity-image 1s 2.5s ease-in both;
}

.home__text2 {
  position: absolute;
  top: 60%;
  left: 200px;
  transform: translateY(-60%);
  transition: left 0.3s;
}

.home__text2 span {
  display: block;
  font-size: 90px;
  color: #fff;
  font-weight: 600;
  width: 0;
  overflow: hidden;
  animation: reveal 1s 3s ease-in-out both;
}

.home__text2 span:nth-child(1) {
  animation-delay: 3s;
}

.home__text2 span:nth-child(2) {
  animation-delay: 3.2s;
}

@keyframes slideup {
  0% {
    opacity: 0;
    margin-top: 50px;
  }

  20% {
    opacity: 1;
    margin-top: 0;
  }

  80% {
    opacity: 1;
    margin-top: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes overlay {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes opacity-image {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* about */
#about h3.title,
#work h3.title,
#project h3.title {
  font-size: 50px;
  text-align: left;
  margin: 0;
  padding: 50px 20px;
}


.about > div {
  position:relative;
  float:left;
  width:50%;
  padding:20px;
}

.about__info {
  line-height:2;
  word-break:keep-all;
}

.about__info__title{
  font-size:24px;
  margin:0;
}

.about__info__detail{
  margin:0 0 10px;
}

.about__process {
  background-color:#333;
  color:#fff;
  box-sizing:border-box;
  box-shadow:0 20px 50px rgba(0,0,0,0.1);
  text-align: center;
}
.about__process h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 40px;
  font-weight: normal;
}
.item {
  margin-bottom:10px
}
.item p {
  overflow:hidden;
}
.item p span:nth-child(1) {
  float:left;
}
.item p span:nth-child(2) {
  float:right;
}
.progress {
  border:1px solid #6cd4c4;
  padding: 5px;
  border-radius: 3px;
}
.progress-level {
  height: 10px;
  background:linear-gradient(to right, crimson, gold);
  animation: progress 1s both;
}

@keyframes progress {
  0%{
    opacity:0;
    width:0%
  }
}

.about__process .item:nth-of-type(1) .progress-level {
  animation-delay: 0s;
}
.about__process .item:nth-of-type(2) .progress-level {
  animation-delay: 0.2s;
}
.about__process .item:nth-of-type(3) .progress-level {
  animation-delay: 0.4s;
}
.about__process .item:nth-of-type(4) .progress-level {
  animation-delay: 0.6s;
}
.about__process .item:nth-of-type(5) .progress-level {
  animation-delay: 0.8s;
}

/* project*/
.project {
  overflow: hidden;
  position:relative;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 0;
}

.tabs {
  height: 100%;
  width: 300%;
  transition: 0.5s;
}

.tab {
  height: 100%;
  float: left;
  width: 33.333333%;
  background: #fafafa;
}

.tab__info {
  float: left;
  width: 25%;
  height: 100%;
  padding: 100px 20px 0;
  position: relative;
}

.tab__info h3 {
  font-size: 20px;
  position: relative;
}

.tab__info p {
  font-size: 13px;
  line-height: 1.5em;
}

.tab__info ul {
  line-height: 2em;
  margin: 30px 0;
}

.tab__info .tag {
  margin-top: 15px;
}

.tab__info .tag li {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
  background: #f6f6f6;
  font-size: 11px;
  cursor: default;
}

.tab__photo {
  width: 75%;
  overflow: hidden;
  margin-bottom: 0 !important;
}

.tab__info:before {
  content: attr(data-text);
  font-size: 130px;
  color: #eee;
  position: absolute;
  top: -10px;
  left: 10px;
}

input[name=tabmenu] {
  display: none;
}

.project__btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
}

.project__btn label {
  cursor: pointer;
  width: 5px;
  height: 5px;
  background-color: #000;
  display: inline-block;
  border-radius: 50%;
  margin: 8px;
  position: relative;
}

.project__btn label:before {
  content: '';
  display: inline-block;
  border: 1px solid transparent;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  left: -6px;
  top: -6px;
  transition: 0.3s;
}

.project__btn label:hover:before {
  border: 1px solid #aaa;
}

input[id=tab1]:checked~.project__btn label[for=tab1]:before,
input[id=tab2]:checked~.project__btn label[for=tab2]:before,
input[id=tab3]:checked~.project__btn label[for=tab3]:before {
  border: 1px solid #aaa;
}

input[id=tab1]:checked~.tabs {
  margin-left: 0;
}

input[id=tab2]:checked~.tabs {
  margin-left: -100%;
}

input[id=tab3]:checked~.tabs {
  margin-left: -200%;
}

.view-project {
  background-color: #3f3f3f;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  max-width: 220px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
}

.view-project:hover {
  background-color: #000;
}

.view-project .fa {
  transition: 0.5s;
}

.view-project:hover .fa {
  margin-left: 30px;
}

/* work */
#work {
  background: #f8f8f8;
}

#work h3.title {
  font-size: 50px;
  text-align: left;
  margin: 0;
  padding: 50px 20px;
}

.list__item {
  float: left;
  display: block;
  width: 25%;
  padding: 20px;
}

.list__item .list__item__img {
  position: relative;
  overflow: hidden;
  transition:all 0.3s;
}

.list__item .list__item__img:hover {
  box-shadow:0 5px 20px rgba(0,0,0,0.5);
  background:royalblue;
}

.list__item .list__item__img img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.list__item .list-hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 1;
  transition: all 0.5s;
}

.list__item:nth-child(even) .list-hidden {
  top: -100%;
  left: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: all 0.3s;
}

.list__item:nth-child(odd) .list-hidden {
  top: 0;
  right: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: all 0.3s;
}

.list__item:nth-child(even) .list__item__img:hover .list-hidden {
  top: 0;
  opacity: 1;
}

.list__item:nth-child(odd) .list__item__img:hover .list-hidden {
  right: 0;
  opacity: 1;
}

.list__item .list-hidden a {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2;
  margin: 0;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
}

.list__item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* contact */
#contact {
  background: #fff;
}

#contact h3.title {
  font-size: 50px;
  text-align: left;
  margin: 0;
  padding: 20px 20px 0px;
}

#contact .contact-info {
  float: none;
  width: 100%;
  padding: 10px 20px 20px;
}

#contact .contact-info ul li {
  line-height: 2em;
}

@media all and (max-width: 992px){
  .list__item {
    width: 33.333333%;
  }
}
@media all and (max-width: 768px) {  
  /* Header */
  header {
    transition: 0.5s;
    z-index: 100;
    background:#fff;
    position:fixed;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
  }
  header.active {
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }
  .header__gnb {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -270px;
    width: 250px;
    height: 100vh;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
  .header__gnb.active {
    right: 0;
  }
  .header__gnb__menu {
    display: block;
  }
  .header__gnb__menu {
    line-height: 40px;
    margin-top: 60px;
  }
  .header__gnb__menu a {
    text-align: right;
    display: block;
    padding-right: 20px;
    color: #000;
    font-size: 20px;
  }
  
  /* Trigger */
  .header__trigger {
    display: block;
    width: 24px;
    height: 14px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .header__trigger span {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
    transition: 0.5s;
  }
  .header__trigger span:nth-child(1) {
    top: 0;
  }
  .header__trigger span:nth-child(2) {
    top: 50%;
    width: 80%;
  }
  .header__trigger span:nth-child(3) {
    top: 100%;
  }
  .header__trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg)
  }
  .header__trigger.active span:nth-child(2) {
    top: 50%;
    width: 80%;
    opacity: 0;
  }
  .header__trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg)
  }
  

  
  #home,
  #about,
  #project,
  #work,
  #contact {
    display: block;
  }

  main {
    padding-top: 60px;
  }

  /* Home */
  #home {
    height:40vh;
  }
  .home__text1 {
    transform: translate(-50%, -50%) scale(0.7);
    width: 100%;
  }
  .home__text2  {
    left: 20px;
  }
  .home__text2 span {
    font-size: 50px;
  }

  /* about project work title */ 
  #about h3.title,
  #project h3.title,
  #work h3.title {
    font-size: 40px;
    padding:30px 20px;
    text-align:center;
  }

  /* about */  
  .about > div {
    float:none;
    width:100%;
  }

  /* project */
  .project {
    height: auto;
    border: none;
  }
  .tab {
    background:none;
  }  
  .tab__info {
    float: none;
    width: 100%;
    padding: 20px;
  }
  .tab__info:before {
    top:-30px;
    right:10px;
    left:auto;
    font-size:100px;
  }
  .view-project {
    width: 100%;
  }
  .detail div {
    font-size: 13px;
  }
  .btn {    
    bottom: 10px;
  }
  .tab__photo {
    float: none;
    width: 100%;
  }
  .tab__photo img{
    width: 100%;
  }

  /* work */    
  #work h3.title {
    font-size: 40px;
    padding: 30px 20px;
    text-align: center;
  }
  .list__item {
    width:50%
  }

  /* contact */
  #contact h3.title {
    font-size: 40px;
    padding:30px 20px 0;
  }
  .contact-inner {
    height: auto;
  }
}

@media all and(max-width: 480px) {  
    /* work */  
    .list__item {
      float:none;
      width:100%
    }
}